[submodule "libs/js-grip"]
	path = libs/js-grip
	url = https://github.com/fanout/js-grip.git
[submodule "libs/expressly"]
	path = libs/expressly
	url = https://github.com/fastly/expressly.git
[submodule "libs/js-serve-grip"]
	path = libs/js-serve-grip
	url = https://github.com/fanout/js-serve-grip.git
[submodule "libs/js-grip-compute-js"]
	path = libs/js-grip-compute-js
	url = https://github.com/fastly/js-grip-compute-js.git
[submodule "libs/js-serve-grip-expressly"]
	path = libs/js-serve-grip-expressly
	url = https://github.com/fastly/js-serve-grip-expressly
