.App {
  height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  max-height: fill-available;
}

.Info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  line-height: 1.5;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.Info > div {
  text-align: right;
}
